<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
    <div id="adm_wrap">
        <header>
            <div class="head">
                <h1 onclick="window.location.href='https://kje-portfolio.site/profile/index'">PortFolio</h1>
                <!--로그인 한 경우-->
                <div th:if="${session.loginMember != null}" class="top_menu">

                    <div class="login_user"><strong><i class="far fa-user-circle"></i> [[ ${session.loginMember.name} ]]</strong>님 반갑습니다.</div>
                    <div class="logout">
                        <form action="/logout" method="post">
                            <button type="submit"><span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i></button>
                        </form>
                    </div>
                </div>
                <!--로그인 안 한 경우-->
                <div th:if="${session.loginMember == null}" class="top_menu">
                    <div class="login"><strong><i class="fas fa-user-circle"></i><a href="/login">로그인</a></strong></div>
                </div>
            </div>
        </header>

        <div id="container">

            <!-- 좌측 영역 -->
            <div class="lcontent">
                <div class="menu_toggle">
                    <img src="/images/icons/toggle_left.png"/>
                </div>
                <!-- 메뉴 -->
                <nav>
                    <ul>
                        <li class="has_sub"><a href="javascript: void(0);" class="on"><span>PROFILE</span></a>
                        <ul>
                            <li><a href="/profile/index" >About me</a></li>
                            <li><a href="/profile/expr">Experience</a></li>
                            <li><a href="/profile/skills">Skills</a></li>
                            <li><a href="/profile/awards">Certificate & Awards</a></li>
                        </ul>
                        </li>
                        <li class="has_sub"><a href="javascript: void(0);" class="on"><span>PROJECT</span></a>
                        <ul>
                            <li><a href="/project/work">작업환경 종합관리 플랫폼</a></li>
                            <li><a href="/project/capstone">캡스톤 디자인</a></li>
                            <li><a href="/project/smart">스마트팜 모니터링 시스템</a></li>
                            <li><a href="/project/solar">태양광 모니터링 시스템</a></li>
                        </ul>
                        </li>
                        <li><a href="/posts/list"><span>Q&A</span></a></li>
                    </ul>
                </nav>
            </div>

            <!-- 우측 영역 -->
            <div class="rcontent">
                <!-- 페이지별 콘텐츠 -->
                <th:block layout:fragment="content"></th:block>
            </div>

        </div> <!-- container -->
<!--        <footer>Copyright(c)네임즈.All rights reserved.</footer>-->
    </div>

    <script th:src="@{/js/function.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script src="https://kit.fontawesome.com/950c18c7be.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu_toggle');
            const menuToggleImg = menuToggle.querySelector('img');
            const container = document.querySelector('#container');
            const lcontent = document.querySelector('.lcontent');
            const header = document.querySelector('header');

            window.addEventListener('scroll', function() {


                let headerHeight = parseInt(header.offsetHeight);
                let lcontentWidth = parseInt(lcontent.offsetWidth);
                let YscrollHeight = parseFloat(window.scrollY);
                let XscrollWidth = parseFloat(window.scrollX);

                if (window.scrollY === 0) {
                    lcontent.style.position = 'absolute';
                    lcontent.style.top = headerHeight + 'px';
                } else if (window.scrollY <= 50) {
                    lcontent.style.position = 'absolute';
                    lcontent.style.top = (headerHeight - YscrollHeight) + 'px';
                } else {
                    lcontent.style.position = 'absolute';
                    lcontent.style.top = '0px';
                }

                if (window.scrollX === 0) {
                    lcontent.style.position = 'fixed';
                    lcontent.style.left = '0px';
                } else if (window.scrollX <= 210) {
                    lcontent.style.position = 'fixed';
                    lcontent.style.left = (0 - XscrollWidth) + 'px';
                } else {
                    lcontent.style.position = 'fixed';
                    lcontent.style.left = (0 - lcontentWidth) + 'px';
                }

            });


            menuToggle.addEventListener('click', function() {
                container.classList.toggle('snb_none');
                menuToggle.classList.toggle('active');

                if (container.classList.contains('snb_none')) {
                    menuToggleImg.src = '/images/icons/toggle_right.png';
                    menuToggleImg.style.width = '4px';
                    menuToggleImg.style.height = '7px';
                } else {
                    menuToggleImg.src = '/images/icons/toggle_left.png';
                    menuToggleImg.style.width = '4px';
                    menuToggleImg.style.height = '7px';
                }
            });


            const subMenu = document.querySelectorAll('#container .lcontent > nav > ul > li > ul > li > a');
            const currentPath = window.location.pathname;

            subMenu.forEach(function(menu) {
                if (menu.getAttribute('href') === currentPath) {
                    menu.style.fontWeight = 'bold';
                    menu.style.fontSize = '15px';
                    menu.classList.add('active');
                }

            });

        });
    </script>
    <th:block layout:fragment="script"></th:block>
</body>
</html>