@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.section {
    position: relative;
    animation: fadeInUp 1s;
}

.header h4{
    color: #444444;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type="radio"] {
    left: calc(100%/2);
}

input[id="slide01"]:checked ~ .slide_wrap .slide_list li {
    transform:translateX(0%);
}
input[id="slide02"]:checked ~ .slide_wrap .slide_list li {
    transform:translateX(-100%);
}

.screen_main {
    margin-bottom: 80px;
}

.screen_main h4{
    margin-bottom:20px;
}

.screen_main img{
    max-width: 100%;
}

.slide_wrap {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.slide_list {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

#slide01, #slide02 {
    display: none;
}

.slide_list li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.slide_list li a{
    display: block;
    position: relative;
}
.slide_list li a img{
    max-width: 100%;
    max-height: 100%;
    object-fit:cover;
}

.slide_list label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.slide_list .left {
    left: 10px;
    background:url('/images/left-arrow.png') center center / 50% no-repeat;
}

.slide_list .right {
    right: 10px;
    background:url('/images/right-arrow.png') center center / 50% no-repeat;
}

.container{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.container ul li{
    margin-left: 20px;
    list-style-type: disc;
    line-height: 200%;
    font-size:16px;
    color: #444444;
}

.container ul li ul li{
    margin-left: 20px;
    list-style-type: circle;
    line-height: 200%;
    font-size:16px;
    color: #444444;
}



.container_item img{
    width: 20px;
}

.container h4{
    font-weight: 500;
}



.project_info h4{
    margin-bottom: 20px;
}

.project_info h3, .project_skill h3, .project_func h3, .project_role h3{
    margin-top: 20px;
    margin-bottom: 20px;
}



