@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.section {
    position: relative;
    animation: fadeInUp 1s;
}

.content .header{
    margin-bottom: 40px;
}

.skills-section {
    padding: 20px;
    margin-top: 30px
}

.skills-category {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-bottom: 40px;
}

.skills-category h2 {
    margin-bottom: 20px;
    margin-right: 100px;
    float: left;

}

.skills-name {
    display: flex;
    float:left;
    margin: 0;
    align-items: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% / 3);
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.skill-item span {
    font-size: 16px;
    color: #333;
}
